@font-face {
    font-family: 'RocGrotesk';
    src: url(../fonts/RocGrotesk.ttf),
    url(../fonts/RocGrotesk.ttf) format("truetype");
}

body {
    background-color: black;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

h3 {
    font-family: 'RocGrotesk', sans-serif;
    color: white;
    text-align: center;
    display: block;
    margin-top: auto;
}

p {
    font-family: 'RocGrotesk', sans-serif;
    color: white;
    text-align: center;
    display: block;
    max-width: 750px;
    margin: 20px auto 20px;
}
footer {
    font-family: 'RocGrotesk', sans-serif;
    color: white;
    text-align: center;
    display: block;
    font-size: smaller;
}